<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mockup</title>
  </head>
  <body>
    <div class="header-wrapper">
      <div class="logo">
        <img src="../../assets/images/caredash-logo.png" alt="logo">
      </div>
      <div class="navbar">
        <div class="dropdown">
          <button>Menu Item</button>
          <div class="drop-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <div class="dropdown">
          <button>Menu Item</button>
          <div class="drop-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <div class="dropdown">
          <button>Menu Item</button>
          <div class="drop-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
    </div>
    <div class="top-body-wrapper">
      <div class="cover-image">

      </div>
      <div class="login">
        <p>Sign Up with CareDash to Edit your Provider Profile</p>
        <form class="login-form">
          <input type="text" placeholder="Email Address"><br>
          <input type="text" placeholder="Password"><br>
          <input type="text" placeholder="Confirm Password"><br>
          <input type="submit" value="Log In">
        </form>
        <button class="sign-button">Sign Up</button>
      </div>
      <div class="signup">
        <p>Sign Up with CareDash to Edit your Provider Profile</p>
        <form class="signup-form">
          <input type="text" placeholder="First Name"><br>
          <input type="text" placeholder="Last Name"><br>
          <input type="text" placeholder="Email Address"><br>
          <input type="text" placeholder="Password"><br>
          <input type="text" placeholder="Confirm Password"><br>
          <input type="submit" value="Sign Up">
        </form>
        <button class="login-button">Log In</button>
      </div>
    </div>
    <div class="bottom-body-wrapper">
      <h2>Reasons to Sign Up as a Provider on CareDash</h2>
      <div class="reasons">
        <div>

        </div>
        <h3>Headline</h3>
        <p>Bacon ipsum dolor amet drumstick ribeye boudin pancetta capicola bacon picanha filet mignon burgdoggen alcatra jerky cupim chuck chicken. Turducken rump beef ribs prosciutto. Strip steak corned beef pig tri-tip pastrami short ribs kielbasa pork belly ribeye turducken landjaeger cupim turkey prosciutto ground round. Turducken jowl corned beef, short loin pancetta pastrami landjaeger ham hock chicken kevin pork loin sausage meatball rump swine</p>
        <button type="button">Learn More</button>
      </div>
      <div class="reasons">
        <div>

        </div>
        <h3>Headline</h3>
        <p>Bacon ipsum dolor amet drumstick ribeye boudin pancetta capicola bacon picanha filet mignon burgdoggen alcatra jerky cupim chuck chicken. Turducken rump beef ribs prosciutto. Strip steak corned beef pig tri-tip pastrami short ribs kielbasa pork belly ribeye turducken landjaeger cupim turkey prosciutto ground round. Turducken jowl corned beef, short loin pancetta pastrami landjaeger ham hock chicken kevin pork loin sausage meatball rump swine</p>
        <button type="button">Learn More</button>

      </div>
      <div class="reasons">
        <div>

        </div>
        <h3>Headline</h3>
        <p>Bacon ipsum dolor amet drumstick ribeye boudin pancetta capicola bacon picanha filet mignon burgdoggen alcatra jerky cupim chuck chicken. Turducken rump beef ribs prosciutto. Strip steak corned beef pig tri-tip pastrami short ribs kielbasa pork belly ribeye turducken landjaeger cupim turkey prosciutto ground round. Turducken jowl corned beef, short loin pancetta pastrami landjaeger ham hock chicken kevin pork loin sausage meatball rump swine</p>
        <button type="button">Learn More</button>
      </div>
    </div>
    <div class="footer">
      <div class="links">
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
      </div>
      <div class="specialists">
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
      </div>
      <div class="social">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </body>
</html>
