// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$error-red: #DB4F46;
$cd-green: #82A603;

form {
  // float: left;
  input {
    display: inherit;
    margin-left: 180px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  label {
    font-size: 20px;
    margin-bottom: 5px;
  }
}


.alert {
  background-color: $error-red;
  color: white;
}


.alert-danger {
  background-color: $error-red;
  color: white;
}

.alert-success {
  background-color: $cd-green;
  color: white;
}
