// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Pavanam');

// fonts
$main-font: 'Pavanam', sans-serif;


// color vars
$blk: #000;
$nav-gray: #B9B9B9;
$cd-green: #82A603;
$cd-dark-green: #688307;
$cd-blue: #26ABAB;
$fb-blue: #3B5998;
$twitter-blue: #55ACEE;
$ig-orange: #F56040;
$pin-red: #BD081C;

.header-wrapper {
  // overflow: hidden;
  background-color: $nav-gray;
  height: 80px;
}

.logo {
  float: left;
  height: 80px;
  width: 300px;
  // display: block;
  background-image: url('caredash-heart.jpg');
  background-repeat: no-repeat;
  background-position: 46%;
  background-size: contain;
}

.navbar {
  float: left;
  font-family: $main-font;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 30px;
}

.dropdown {
  display: inline-block;
  position: relative;
  text-align: center;
  button {
    border: none;
    font-family: $main-font;
    font-size: 30px;
    background-color: $nav-gray;
    transition: .5s;
    width: 160px;
  }
  button:hover{
    background-color: $cd-blue;
  }
}

.drop-content {
  display: none;
  min-width: 200px;
  position: absolute;
  background-color: rgba(185, 185, 185, .75);
  z-index: 1;
    a {
      color: $blk;
      margin-bottom: 15px;
      display: block;
    }
}

.dropdown:hover .drop-content {
  display: block;
}

.top-body-wrapper {
  border: 1px solid $blk;
  height: 408px;
  overflow: auto;
}

.cover-image {
  width: 70%;
  height: 100%;
  float: left;
  text-align: center;
  background-size: cover;
  font-family: $main-font;
  background-image: url('boston.jpg');
  h2 {
    font-size: 30px;
    width: 70%;
    margin: 20px auto;
  }
  p {
    font-size: 20px;
    width: 80%;
    margin: 40px auto;
  }
}

.login, .signup {
  font-family: $main-font;
  float: right;
  height: 100%;
  width: 29%;
  text-align: center;
  overflow: auto;
  p {
    font-size: 20px;
    margin: 20px 0 20px;
  }
  div {
    margin: 0 auto;
  }
}

  // .login-form {
  //   p {
  //     font-size: 30px;
  //     margin-bottom: 20px;
  //   }
  //   form {
  //     text-align: center;
  //     display: inline-block;
  //     input {
  //       text-align: center;
  //     }
  //   }
  // }

.login-button{
  background-color: $cd-green;
  border: none;
  border-radius: 5px;
  color: white;
  transition: .5s;
  display: block;
  margin: 0 auto;
  height: 20px;
  height: 35px;
  font-size: 20px;
  width: 100px;
}

.login-button:hover{
  background-color: $cd-dark-green;
}

.bottom-body-wrapper {
  overflow: auto;
  margin: 0 auto 30px;
  background-color: $nav-gray;
  font-family: $main-font;
    h2 {
      text-align: center;
      font-size: 30px;
      margin-top: 5px;
    }
}

.reasons {
  margin: 30px 5px 0 27px;
  border: 1px solid $blk;
  float: left;
  width: 30%;
  height: 400px;
  text-align: center;
  background-color: $nav-gray;
    div {
      margin: 10px auto;
      height: 100px;
      width: 80%;
    }
    h3 {
      font-size: 25px;
      margin-bottom: 10px;
      color: $cd-blue;
    }
    p{
      font-size: 20px;
      margin-bottom: 20px;
    }
    button {
      border: none;
      border-radius: 5px;
      background-color: $cd-green;
      color: white;
      font-size: 20px;
      margin-top: 5px;
      width: 150px;
      height: 40px;
      transition: .5s;
    }
    button:hover {
      background-color: $cd-dark-green;
    }
}

.footer {
  overflow: auto;
  text-align: center;
}

.links, .specialists {
  float: left;
  width: 20%;
    a {
      display: block;
      font-size: 20px;
      margin-bottom: 5px;
    }
}

.social {
  float: left;
    span {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      display: inline-block;
      i {
        margin-top: 15px;
        color: white;
        font-size: 30px
      }
    }
}

.fb {
  background-color: $fb-blue;
}

.twitter {
  background-color: $twitter-blue;
}

.ig {
  background-color: $ig-orange;
}

.pin {
  background-color: $pin-red;
}

@media (max-width: 1065px){
  .reasons {
    width: 70%;
    margin-left: 15%;
  }
  .links, .specialists {
    width: 50%;
  }
  .social {
    margin: 0 auto;
    float: none;
  }
}

@media (max-width: 820px){
  .navbar {
    display: none;
  }
  .logo {
    float: none;
    margin: 0 auto;
    display: block;
  }
  .cover-image {
    width: 100%;
  }
  .top-body-wrapper {
    float: none;
    position: static;
    width: auto;
  }
  .login, .signup {
    border-left: 0;
    margin: 0;
    width: 100%;
  }
  .cover-image {
    p {
      color: white;
    }
  }
}
