// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import 'bootsrap';
// @import 'bootsrap-sprockets';

.new_user {
  float: left;
  input {
    display: inherit;
  }
}

.alert {
  background-color: red;
}
